services:
  postgres:
    image: postgres:15
    environment:
        POSTGRES_DB: urlshortener
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./bd/migrations/001_init.sql:/docker-entrypoint-initdb.d/001_init.sql

  url-shortener:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgresql://user:password@postgres:5432/urlshortener"
    depends_on:
      - postgres

volumes:
  postgres_data: