services:
  postgres:
    image: postgres:15
    environment:
        POSTGRES_DB: urlshortener
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./bd/migrations/001_init.sql:/docker-entrypoint-initdb.d/001_init.sql

volumes:
  postgres_data: